<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>    
</head>
<body>
    
<h2 align="center">Tareas</h2>
<table class="table">
  <thead>
    <tr>
      <th scope="col">
        
          <form method="POST" action="/" class="text-center">
              <div class="form-group">
                <input type="text" class="form-control" name="tarea" placeholder="Escribe algo...">
              </div>    
              <button type="submit" class="btn btn-primary">Añadir tarea</button>
           </form>
        
      </th>
    </tr>
  </thead>
  <tbody align="center">
    <tr>
      <td>Tarea 1</td>
    </tr>
    <tr>
      <td>Tarea 2</td>
    </tr>
    {% for tarea in tareas %}
      <tr>
          <td> 
              <input width="50%" type="hidden" class="form-control" name="tarea" value="{{book.id}}" disabled>{{book.title}}
             <!-- $_POST['TerminaOBorra'] se hará un if para ver si está terminado o se borra -->   
              <button type="submit" name="TerminaOBorra" value="terminado" class="btn btn-success">Marcar Terminada</button>
              <button type="submit" name="TerminaOBorra" value="borrado" class="btn btn-danger">Eliminar</button>
          </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
    
    
</body>
</html>