<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
</head>

<body>

    <h2 style="margin-top: 5%;" align="center">TAREAS</h2>
    <div class="container">
        <div class="row" style="padding-left: 20%;padding-right: 20%;">
            <form method="POST" action="/" class="text-center">
                <div class="form-group col">
                    <input type="text" class="form-control" name="tarea" placeholder="Escribe una tarea...">
                </div>
                <div class="col"><button type="submit" class="btn btn-primary">Añadir tarea</button></div>
            </form>
        </div>
        <div class="row" style="margin-top: 5%;">
            <div class="col">
                <table class="table table-dark table-hover">
                    <colgroup>
                        <col span="1" style="width: 70%;">
                        <col span="1" style="width: 15%;">
                        <col span="1" style="width: 15%;">
                    </colgroup>
                    <tbody align="center">
                        {% for tarea in tareas %}
                        <tr>
                            <td>
                                <table>
                                    {% if tarea.marcado == 0 %}
                                    <tr>{{tarea.nombre}}</tr>
                                    {% endif %} {% if tarea.marcado == 1 %}
                                    <tr><strike>{{tarea.nombre}}</strike></tr>
                                    {% endif %}
                                </table>
                            </td>
                            <td>
                                <table>
                                    <tr>
                                        <form method="POST" action="./update" class="text-center">
                                            <input width="50%" type="hidden" class="form-control" name="id" value="{{tarea.id}}">
                                            <button type="submit" name="TerminaOBorra" value="terminado" class="btn btn-success">Marcar Terminada</button>

                                        </form>
                                    </tr>
                                </table>
                            </td>
                            <td>
                                <table>
                                    <tr>
                                        <form method="POST" action="./delete" class="text-center">
                                            <input width="50%" type="hidden" class="form-control" name="id" value="{{tarea.id}}">
                                            <button type="submit" name="TerminaOBorra" value="borrado" class="btn btn-danger">Eliminar</button>
                                        </form>
                                    </tr>

                                </table>

                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


</body>

</html>